<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <%= favicon_tag 'images/favicon-32x32.png' %>

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="LibreOffice Asia Conference 2019 Tokyo">
    <meta itemprop="description" content="LibreOffice Asia Conference. Tokyo 25-26 May 2019">
    <!-- <meta itemprop="image" content="images/search_header.jpg"> -->

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://conf.libreoffice.jp">
    <meta property="og:type" content="website">
    <meta property="og:title" content="LibreOffice Asia Conference 2019 Tokyo">
    <meta property="og:description" content="LibreOffice Asia Conference. Tokyo 25-26 May 2019">
    <!-- <meta property="og:image" content="images/search_header.jpg"> -->

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="LibreOffice Asia Conference 2019 Tokyo">
    <meta name="twitter:description" content="LibreOffice Asia Conference. Tokyo 25-26, May, 2019">
    <meta name="twitter:site" content="@libreofficejp">
    <!-- <meta name="twitter:image" content="images/search_header.jpg"> -->

  </head>
  <body>
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>
  </body>
</html>
